body {
  background-color: rgb(105, 104, 104);
  color: black;
  font-size: 22px;
  text-align: center;
}
h1 {
  color: rgb(38, 38, 158);
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input {
  background: black;
  color: rgb(105, 104, 104);
  border: none;
}
form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  max-width: 400px;
}
button {
  width: 60%;
  margin: auto;
  margin-top: 20px;
  background-color: black;
  color: rgb(105, 104, 104);
  border: 2px solid transparent;
  transition: all 0.5s;
}
button:hover {
  background-color: rgb(105, 104, 104);
  color: rgb(55, 55, 177);
  border: 2px solid rgb(55, 55, 177);
}

ul {
  list-style: none;
  color: whitesmoke;
  text-align: center;
  padding-right: 55px;
  padding-bottom: 20px;
  font-size: 18px;
}
.planet li {
  margin-top: 10px;
}
.planet-container {
  background-color: black;
  width: 80%;
  max-width: 750px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 5px;
  border: 4px solid rgb(55, 55, 177);
}
.planet-container img {
  width: 200px;
  display: block;
  padding: 5px;
}
.loader {
  border: 16px solid black;
  border-top: 16px solid rgb(55, 55, 177);
  border-radius: 50%;
  width: 100px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hidden {
  display: none;
}
