body {
  background-color: rgb(105, 104, 104);
  color: black;
  font-size: 22px;
  text-align: center;
}
input {
  background: black;
  color: rgb(105, 104, 104);
  border: none;
}
form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  max-width: 400px;
}
button {
  width: 60%;
  margin: auto;
  margin-top: 20px;
  background-color: black;
  color: rgb(105, 104, 104);
  border: 2px solid transparent;
  transition: all 0.5s;
}
button:hover {
  background-color: rgb(105, 104, 104);
  color: black;
  border: 2px solid black;
}

ul {
  list-style: none;
  color: whitesmoke;
  /* height: 250px; */
  text-align: center;
  padding-right: 55px;
  padding-bottom: 20px;
  font-size: 18px;
  /* height: 220px; */
}
.planet li {
  margin-top: 10px;
}
.planet-container {
  background-color: black;
  width: 80%;
  max-width: 750px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 5px;

  /* align-items: center; */
}
.planet-container img {
  width: 200px;
  display: block;
}
